.cover {
  position: relative;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  min-width: 1184px;
  min-height: 740px;
  background: url(../../images/cover-trains.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 1279px) {
  .cover {
    min-width: 280px;
    width: calc(100% + 96px);
    min-height: calc(99vw / 1.58);
  }
}
@media (max-width: 1023px) {
  .cover {
    width: calc(100% + 48px);
    min-height: calc(99vw / 1.59);
  }
}
@media (max-width: 767px) {
  .cover {
    width: calc(100% + 32px);
    min-height: calc(99vw / 1.6);
  }
}
