.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: calc(99vw / 1.71);
  padding: 0 3.75%;
  background: url(../../images/cover-trains.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 1279px) {
  .cover {
    height: calc(99vw / 1.58);
    padding: 0;
  }
}
@media (max-width: 1023px) {
  .cover {
    height: calc(99vw / 1.6);
    padding: 0;
  }
}
@media (max-width: 767px) {
  .cover {
    height: calc(99vw / 1.6);
    padding: 0;
  }
}
