.cover__overlay {
  width: calc(100% - 96px);
  height: 100%;
  position: absolute;
  top: 0;
  left: 48;
  right: 48;
  background-color: #2A2C2F;
  opacity: 30%;
  transition: opacity .3s;
}
.cover__overlay:hover {
  opacity: 80%;
}
@media (max-width: 1279px) {
  .cover__overlay {
    width: 100%;
    left: 0;
    top: 0;
  }
}
