.place {
  display: grid;
  grid-template-columns: 48729fr 51271fr;
  grid-template-rows: max-content max-content;
  gap: 48px 40px;
  padding: 0 11.5625% 80px;
}
.place:last-child {
  padding-bottom: 0;
}
@media (max-width: 1279px) {
  .place {
    grid-template-columns: 440px 456px;
    grid-template-rows: max-content 440px;
    gap: 48px 32px;
  }
}
@media (max-width:1023px) {
  .place {
    grid-template-columns: 340px 352px;
    grid-template-rows: min-content max-content;
    gap: 48px 28px;
    padding-bottom: 73px;
  }
}
@media (max-width:767px) {
  .place {
    grid-template-columns: 320px;
    grid-template-rows: repeat(3, max-content);
    gap: 32px;
    padding-bottom: 50px;

  }
}
