.footer {
  padding: 92px 48px 24px;
  display: flex;
  justify-content: space-between;
  align-self: stretch;
}
@media (max-width: 1023px) {
  .footer {
    padding: 88px 24px 24px;
  }
}
@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding: 64px 5% 24px;
  }
}
